{% load staticfiles %}
{% include "base/navbar.html" %}
<link rel="stylesheet" href="{% static 'css/entry.css' %}">
<link rel="stylesheet" href="{% static 'css/login_logout.css' %}">



<div class="row spacer">
	<div class="span4"></div>
	<div class="span4"></div>
	<div class="span4"></div>
</div>


{% if error %}
<main role="main" class="container">
	<div class="row">
		<h1 class="col-2-3">Term Not Found.</h1>
	</div>
</main>
{% endif %}

<main role="main" class="container">

	<!-- Begin eng to bhut translation -->
	<!-- bhutia (formal) to english -->
	{% if be_f_exact %}
	{% with word=be_f_exact.0 %}
	{% include "languages/bhutia/definition/english.html" %}
	{% endwith %}
	{% endif %}

	<!-- bhutia (informal) to english -->

	{% if be_i_exact %}
	{% with word=be_i_exact.0 %}
	{% include "languages/bhutia/definition/english.html" %}
	{% endwith %}
	{% endif %}

	<!-- english to bhutia (formal) -->
	{% if eb_f_exact %}
	{% with word=eb_f_exact.0 %}
	{% include "languages/bhutia/definition/bhutia_formal.html" %}
	{% endwith %}
	{% endif %}


	<!-- english to bhutia (informal) -->
	{% if eb_i_exact %}
	{% with word=eb_i_exact.0 %}
	{% include "languages/bhutia/definition/bhutia_informal.html" %}
	{% endwith %}
	{% endif %}

	<!-- Bhutia script (formal) to english -->

	{% if bse_f_exact %}
	{% with word=bse_f_exact.0 %}
	{% include "languages/bhutia/definition/english.html" %}
	{% endwith %}
	{% endif %}

	<!-- Bhutia script (informal) to english -->

	{% if bse_i_exact %}
	{% with word=bse_i_exact.0 %}
	{% include "languages/bhutia/definition/english.html" %}
	{% endwith %}
	{% endif %}

<!-- BEGIN SUGGESTIONS -->

	{% if be_f_possible %}
	<div class="row">
		<h4 class="col">Did you mean?</h4>
	</div>
	{% for match in be_f_possible %}
	<!--skip the exact match query-->
	{% if match.bhut_rom_formal != be_f_exact.0.bhut_rom_formal %}
	{% url 'exact' lang='bhutia' translation='bhutia_english_formal' entry_id=match.entry_id as bef_url %}
	<div class="row">
		<!-- <p class="col"> {{match.bhut_rom_formal}} </p> -->
		<a class="col" href="{{ bef_url }}">{{match.bhut_rom_formal}}</a>
	</div>
		{% endif %}
		{% endfor %}
	{% endif %}


	{% if be_i_possible %}
	<div class="row">
		<h4 class="col">Did you mean?</h4>
	</div>
	{% for match in be_i_possible %}
	<!--skip the exact match query-->
	{% if match.bhut_rom_informal != be_f_exact.0.bhut_rom_informal %}
	{% url 'exact' lang='bhutia' translation='bhutia_english_informal' entry_id=match.entry_id as bei_url %}
	<div class="row">
		<!-- <p class="col"> {{match.bhut_rom_informal}} </p> -->
		<a class="col" href="{{ bei_url }}">{{match.bhut_rom_informal}}</a>

			</div>
		{% endif %}
		{% endfor %}
	{% endif %}

		{% if eb_f_possible %}
	<div class="row">
		<h4 class="col">Did you mean?</h4>
	</div>
	{% for match in eb_f_possible %}
	<!--skip the exact match query-->
	{% if match.eng_trans != be_f_exact.0.eng_trans %}
	{% url 'exact' lang='bhutia' translation='english_bhutia_formal' entry_id=match.entry_id as ebf_url %}
	<div class="row">
		<!-- <p class="col"> {{match.eng_trans}} </p> -->
		<a class="col" href="{{ ebf_url }}">{{match.eng_trans}}</a>

			</div>
		{% endif %}
		{% endfor %}
	{% endif %}

	{% if eb_i_possible %}
	<div class="row">
		<h4 class="col">Did you mean?</h4>
	</div>
	{% for match in eb_i_possible %}
	<!--skip the exact match query-->
	{% if match.eng_trans != be_f_exact.0.eng_trans %}
	{% url 'exact' lang='bhutia' translation='english_bhutia_informal' entry_id=match.entry_id as ebi_url %}
	<div class="row">
		<!-- <p class="col"> {{match.eng_trans}} </p> -->
		<a class="col" href="{{ ebi_url }}">{{match.eng_trans}}</a>

			</div>
		{% endif %}
		{% endfor %}
	{% endif %}

	{% if bse_f_possible %}
	<div class="row">
		<h4 class="col">Did you mean?</h4>
	</div>
	{% for match in bse_f_possible %}
	<!--skip the exact match query-->
	{% if match.bhut_script_formal != be_f_exact.0.bhut_script_formal %}
	{% url 'exact' lang='bhutia' translation='bhutiascript_english_formal' entry_id=match.entry_id as bsef_url %}
	<div class="row">
		<!-- <p class="col"> {{match.bhut_script_formal}} </p> -->
		<a class="col" href="{{ bsef_url }}">{{match.bhut_script_formal}}</a>

			</div>
		{% endif %}
		{% endfor %}
	{% endif %}


	{% if bse_i_possible %}
	<div class="row">
		<h4 class="col">Did you mean?</h4>
	</div>
	{% for match in bse_i_possible %}
	<!--skip the exact match query-->
	{% if bhut_script_informal != be_f_exact.0.bhut_script_informal  %}
	{% url 'exact' lang='bhutia' translation='bhutiascript_english_informal' entry_id=match.entry_id as bsei_url %}
	<div class="row">
		<!-- <p class="col"> {{match.bhut_script_informal}} </p> -->
		<a class="col" href="{{ bsei_url }}">{{match.bhut_script_formal}}</a>

			</div>
		{% endif %}
		{% endfor %}
	{% endif %}





<!-- 
	{% if eb_possible %}
	<div class="row">
		<h4 class="col-2-3">Did you mean?</h4>
	</div>
	{% for match in eb_possible %}
	{% if match.romanization != eb_exact.0.romanization %}
	<div class="row">
		<p> {{match.romanization}} </p>
			</div>

		{% endif %}
		{% endfor %}
	{% endif %}

	{% if tb_possible %}
	<div class="row">
		<h4 class="col-2-3">Did you mean?</h4>
	</div>
	{% for match in tb_possible %}
	{% if match.tib_script != tb_exact.0.tib_script %}
	<div class="row">
		<p> {{match.tib_script}} </p>
			</div>
		{% endif %}
		{% endfor %}
	{% endif %} -->

</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/lang/bhutia.js' %}"></script>
<script type="module" src="{% static 'js/auto-complete.js' %}"></script>
<script type="module" src="{% static 'js/debounce.js' %}"></script>
</body>

</html>
