{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main_home.css' %}">
    <title>Blank Dictionary</title>
</head>

<nav class="navbar navbar-expand-md fixed-top">
    <a id="home" class="navbar-brand" href="/">Blank Dictionary</a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<body>
    <div style="margin:80px">
        <h1>Contact Us</h1>
        <h5>Creating Your Own Dictionary</h5>
        <p class="about-desc">
            If you would like to use our platform, you just need to email us to get started.
            Once we determine eligibility and have your dictionary data in an appropriate format,
            your dictionary should be live on the web and on Android in a matter of hours.
            <br>
            <br>
        </p>
        <h5>Feedback</h5>
        <p> Is there a word you couldn't find?
            Do you have other recommendations?
            Do you want to get involved?
            Please let us know here!
        </p>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSd-YV1AUbbU2QBppBLo0h_fTwJipfcHGHm6ZyUR8Wm4op3U0A/viewform?embedded=true"
            width="700" height="538" frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- <script src="{% static 'js/main-home.js' %}"></script> -->