{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main_about.css' %}">
    <title>Blank Dictionary</title>
</head>

<nav class="navbar navbar-expand-md fixed-top">
    <a id="home" class="navbar-brand" href="/">
        <img id="logo" src="{% static 'images/BD.png' %}" />
    </a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<body>
    <main role="main" class="container">
        <div id="title-container" class="container col-xl-9 col-lg-7">
            <!-- {% if bhutia %}
            <form action='/d/bhutia/email' method="POST">
                {% csrf_token %}
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="contact">Email or Whatsapp:</label><br>
                <input type="text" id="contact" name="contact"><br><br>
                <label for="suggestion">What word do you want to see included?:</label><br>
                <textarea type="text" id="suggestion" name="suggestion" rows='6' cols="50"></textarea>
                <br><br>
                <input type="submit" value="Submit">
            </form>
            {% else %}
            <p>No Language was Selected</p>
            {% endif %} -->
            {% if messageSent %}
            <div class="container">
                <h3><strong>Email successfully sent</strong></h3>
                <p>Your message was successfully sent to {{ recipient }}</p>
            </div>
            {% else %}
            <div class="container">
                <h3><strong>Send E-mail</strong></h3>

                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <br />
                    <div class="text-center">
                        <input type="submit" class="btn btn-secondary" style="width: 100%" value="Send e-mail" />
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- <script src="{% static 'js/main-home.js' %}"></script> -->