{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main_about.css' %}">
  <title>Blank Dictionary</title>
</head>

<nav class="navbar navbar-expand-md fixed-top">
  <a id="home" class="navbar-brand" href="/">Blank Dictionary</a>

  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link " href="/about">Learn More<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/involvement">Get Involved<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<body>
 <main role="main" class="container"> 
  <div id="title-container" class="container col-xl-9 col-lg-7">
    <div class="desc">
      <h1 class="text-center">What is this?</h1>
      <p class="about-desc">
       Blank Dictionary is a nonprofit project intended to promote lesser known languages of the world by streamlining the creation of digital dictionaries. We provide a platform for you to upload, manage and grow dictionary content for your language. Once your dictionary is live on our platform, your dictionary content can then be publicly accessed on the web or on our Android app. To get started, you just need to email us at williamshengchen8@gmail.com.
       <br>
       <br>
       Any content you create will be yours and yours alone. We just want to provide a platform for you and help keep the world linguistically diverse.
       <br>
       <br>
       Most importantly, we will not be charging a fee to use this platform nor do we aspire to in the future. However we are looking for donations and partners to help build our service, as we are still in the early stages of development. Right now we're actively looking for interested language scholars and activists to test our service.
     </p>
   </div>
   <div class="desc">
    <h1 class="text-center">How The Blank Dictionary Was Created</h1>
    <p class="about-desc desc">This project began as a simple online dictionary to promote the language "Bhutia," also known as "Lhokay". Dr. Amy Holmes-Tagchungdarpa (Occidental College) and Dr. Kalzang Dorjee Bhutia (UCLA) worked with William Chen(Occidental College '19) to create a basic online dictionary for those living in Sikkim, India, as digital dictionaries for Bhutia/Lhokay did not exist. With Dr. Holmes-Tagchundarpa supervising and Dr. Kalzang Dorjee Bhutia providing language guidance, William built an online dictionary with funding from the Occidental College Religious Studies department and the Occidental Undergraduate Research Center over the 2018 summer. 
      <br>
      <br>
      William later obtained a grant from the "Davis Projects for Peace" organization to expand the initial scope of the project. This service, "The Blank Dictionary" is the result of that expansion and community feedback. Now instead of promoting just one language, "The Blank Dictionary" aims to promote all languages that are at-risk or lesser known.
      <br>
      <br>
      Please get in touch if you are interested in creating a digital dictionary for your language!
    </p>
  </div>

</div>

</main>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- <script src="{% static 'js/main-home.js' %}"></script> -->