{% load staticfiles %}
{% include "base/navbar.html" %}
<link rel="stylesheet" href="{% static 'css/entry.css' %}">

<div class="row spacer">
	<div class="span4"></div>
	<div class="span4"></div>
	<div class="span4"></div>
</div>

<!-- Section for if an error exists -->

{% if error %}
<main role="main" class="container">
	<div class="row">
		<h1 class="col-2-3">Term Not Found.</h1>
	</div>
</main>
{% endif %}

<main role="main" class="container">

	<!-- Begin eng to bhut translation -->
	{% if ee_exact %}
	{% with word=ee_exact.0 %}
	{% include "languages/english/definition_english.html" %}
	{% endwith %}
	{% endif %}

	{% if ce_exact %}
	{% with word=ce_exact.0 %}
	{% include "languages/english/definition_english.html" %}
	{% endwith %}
	{% endif %}

	
	{% if ee_possible %}
	<div class="row">
		<h4 class="col-2-3">Did you mean?</h4>
	</div>
	{% for match in ee_possible %}
	{% if match.word != ee_exact.0.word %}
	<div class="row">
		<p> {{match.word}} </p>
			</div>
		{% endif %}
		{% endfor %}
	{% endif %}

	<!-- {% if ce_possible %}
	<div class="row">
		<h4 class="col-2-3">Did you mean?</h4>
	</div>
	{% for match in ce_possible %}
	{% if match.tib_script != tib_bhut_exact.0.tib_script %}
	<div class="row">
		<p> {{match.tib_script}} </p>
			</div>
		{% endif %}
		{% endfor %}
	{% endif %} -->

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/bhutia.js' %}"></script>
</body>

</html>
