{% load staticfiles %}
{% include "navbar.html" %}
<header class="page-header header container-fluid">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 id="Title">{% block title %}Example Dictionary{% endblock %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">


        {% block search_form %}
       
        {% endblock %}

      </div>
    </div>
    <div class="row">
      <div class="col col-xl-auto col-lg-auto col-md-auto col-sm-auto col-auto mx-auto">
        <select id="translation" class="custom-select">
          {% block translation_options %}
      
          {% endblock %}
        </select>
      </div>
    </div>
  </div>
</header>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--MemoryStorage Polyfill for localstorage-->
<script src="https://cdn.rawgit.com/download/memorystorage/0.11.0/dist/memorystorage.min.js"></script>

{% block script%} {% endblock %}

</html>
