{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  <title>Your Dictionary</title>
</head>
<body>

<nav class="navbar navbar-expand-md fixed-top">
    <a id="home" class="navbar-brand" href="http://127.0.0.1:8000">Logo</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">
          (current)</span>
          </a>
        </li>
      </ul>
      {% if not home %}

<ul class="navbar-nav mr-sm-2">
      <form class="form-inline my-2 my-lg-0" name="myform" method="get" action="/d/Bhutia/bhutia_english/">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" action="/d/Bhutia/bhutia_english/" method="get">Search</button>
      </form>
    </ul>
    

        <div class="selection">
        <select id="translation" class="custom-select">
          <option id="be" value="bhutia_english" selected>Bhutia to English</option>
          <option id="eb" value="english_bhutia">English to Bhutia</option>
          <option id="tb" value="tibetan_bhutia">Tibetan to Bhutia</option>
        </select>
      </div>
      {% endif %}
    </div>
  </nav>
