{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  <title>Blank Dictionary</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top">
    <a id="home" class="navbar-brand" href="/">BD</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if bhutia %}
        <li class="nav-item active">
          <a class="nav-link" href="/d/bhutia/">Bhutia Dictionary<span class="sr-only">
              (current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/d/bhutia/about">About The Bhutia Team<span class="sr-only">
              (current)</span>
          </a>
        </li>
        {% endif %}

        {% if english %}
        <li class="nav-item active">
          <a class="nav-link" href="/d/english/">English Dictionary<span class="sr-only">
              (current)</span>
          </a>
        </li>
        {% endif %}

      </ul>

      <!-- SEARCH AND TRANSLATION -->

      {% if not home and not master %}
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-sm-2">

        {% if bhutia %}
        {% include "languages/bhutia/navbar/search.html" %}
        {% endif %}

        {% if english %}
        {% include "languages/english/navbar/search.html" %}
        {% endif %}

      </ul>


      <div class="selection">
        <select id="translation" class="custom-select">
          {% if bhutia %}
          {% include "languages/bhutia/navbar/trans.html" %}
          {% endif %}
          {% if english %}
          {% include "languages/english/navbar/trans.html" %}
          {% endif %}

        </select>
      </div>

      {% endif %}
      {% endif %}

    </div>
  </nav>