/*---Home Page Stuff---*/
.header {
  background-color: #ba375c;
  background-size: cover;
  
  position: fixed;
}

.container{
	margin-top: 15%;
}


#Title{
color: white;
}

#Title{
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}



