/*---Home Page Stuff---*/
body {
  background-color: #ba375c; 
}

.container{
	padding-top: 20%;
}


#Title{
color: white;
}

#Title{
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

 @media only screen and (min-width: 600px) and (max-width: 900px) {
	.container{
		padding-top: 30%;
	}
} 

 @media only screen and (max-width: 600px) {
	.container{
		padding-top: 40%;
	}
} 



