body {
  background: white;
}

#title{
	color: black;
  font-size: 4em;

}

#title-container{
  margin: auto;
  position: relative;

  top:80px;
  margin-bottom: 180px;
}

#show-hide{
  margin-bottom: 10px;
}

#desc{
  color:#828282;
}

.btn, .btn:hover, .btn:active, .btn:visited {
  background-color: #ba375c !important;
  border-radius: 10px;
  padding: 15px 30px;

  text-decoration: none;
}
.btn:hover, .btn:active {
  color: #cfcfcf;
}


 @media only screen and (max-width: 1160px) {
	#title{
		font-size: 3.5em;
    line-height: normal;
	}
  #title-container{
    margin: auto;

    top:200px;
  }
}

 @media only screen and (max-width: 600px) {
	#title{
		font-size: 3.5em;
    line-height: normal;
	}
  #title-container{
    margin: auto;
    top:100px;
    padding-top: 7%;
  }
}

/*--- navigation bar ---*/
.navbar {
  background:#ba375c;

}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
