{% extends "base/home_base.html" %}
{% load staticfiles %}
{% include "navbar.html" %}

        {% block title %}The Bhutia Dictionary{% endblock %}
        
        {% block search_form %}
         <form name="myform" method="get" action="/d/Bhutia/bhutia_english/" method="get">
          <div class="form-inline justify-content-center">
            <input class="form-control col-md-6 col-8" type="text" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-light" type="submit" action="/d/Bhutia/" method="get">Search</button>
          </div>
        </form>
        {% endblock %}

        {% block translation_options%}    
          <option id="be" value="bhutia_english" selected="selected">Bhutia to English</option>
          <option id="eb" value="english_bhutia">English to Bhutia</option>
          <option id="tb" value="tibetan_bhutia">Tibetan to Bhutia</option>
          {% endblock %}


{% block script%}<script src="{% static 'js/bhutia.js' %}"></script>{% endblock %}


</html>
